        /* Navbar Styling */
        .navbar {
            background-image: linear-gradient(to right, #000000 8%, #223f8f 100%);
            padding: 10px 0;
            top: 0; width: 100%;
            height: 130px;
            position: fixed;
        }
        .navbar-container {
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 0 20px;
        }
        .navbar-title {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            font-size: 1.8rem;
            font-weight: bold;
        }
        /* Full-Width Navigation Links */
        .navbar-links {
            display: flex;
            width: 100%; /* Ensure it takes up the full width of the viewport */
            background-color: #223f8f;
        }

        .navbar-links a {
            flex: 1; /* Makes each link take an equal amount of space */
            text-align: center;
            padding: 10px 0;
            border: 2px solid black;
            transition: 0.3s;
        }
        .navbar-links a:hover {
            background-color: #12305d;
        }